

.heading {
    display: inline-block;
  width: 200px;
  color: lightgrey;
}
.row{
    padding: 15px;
}

.box{
    height: 240px;
  width: 410px;
  border-radius: 20px;
  margin: 20px auto 20px auto;
  display: block;
  background-image: linear-gradient(to bottom right, rgb(68, 14, 219), rgb(143, 209, 247));
}

.btn{
    background-color: green;
    color:lightgrey;
    padding: 8px 16px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid green;
}